h1 {
 font-family: helvetica, arial, sans-serif;
}
.separator {
  width: 750px;
}
.left {
  float: left;
  padding-right: 35px;
  background-color: lightskyblue;
  border-style: dashed;
  border-color: maroon;
  border-width: 15px;
}
.right {
  float: right;
  padding-left: 35px;
  background-color: lightskyblue;
  border-style: dashed;
  border-color: maroon;
  border-width: 15px;
}
